{% extends 'base.html' %}

{% block title%}
Empleado Formulario
{% endblock title%}

{% block cuerpo %}
    <h4>Formulario de Empleado a rellenar</h4>

    {% if miformularioEmpleado.errors %}
    
    <p style="color: red;">Estan mal los datos, revisar</p>
    
    {% endif %}
    
    <form action="" method="POST">{% csrf_token %} 
        <table class="table-info">
            
        {{ miformularioEmpleado.as_table }}

        </table>
    

        <button type="submit" class="btn btn-outline-primary">Enviar</button>
    </form>

    <h5>Buscador de Empleados</h5>

    <form action="{% url 'resultado/empleados/' %}" method="GET"> <!-- En action va, el final del url de donde saca la info-->

        <input type="text" name="nombre_completo">
       
        <button type="submit" class="btn btn-outline-primary">Buscar</button>

    </form>
{% endblock cuerpo %}