{% extends 'base.html' %}

{% block title%}
Empresa Formulario
{% endblock title%}

{% block cuerpo %}
    <h4>Formulario de Empresa a rellenar</h4>

    {% if miformularioempresa.errors %}
    
    <p style="color: red;">Estan mal los datos, revisar</p>
    
    {% endif %}
    
    <form action="" method="POST">{% csrf_token %} 
        <table>
    
            {{ miformularioEmpresa.as_table }}
    
        </table>

        <button type="submit" class="btn btn-outline-primary">Enviar</button>
        
    </form>
{% endblock cuerpo %}

</body>
</html>