{% extends 'base.html' %}

{% block title%}
Producto Formulario
{% endblock title%}

{% block cuerpo %}
    <h4>Formulario de Producto a rellenar</h4>

    {% if miformularioProducto.errors %}

    <p style="color: red;">Hay un error en los datos ingresados</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table>

            {{ miformularioProducto.as_table }}

        </table>

        <button type="submit" class="btn btn-outline-primary">Enviar</button> 
    </form>
    
    <h5>Buscador de Productos</h5>

    <form action="{% url 'resultado/productos/' %}" method="GET"> <!-- En action va, el final del url de donde saca la info-->

        <input type="text" name="nombre_producto"> 

        <button type="submit" class="btn btn-outline-primary">Buscar</button> 
       
    </form>
{% endblock cuerpo %}   

</html>